* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: JetBrainsMono Nerd Font, sans-serif;
    font-size: 16px;
}

window#waybar {
    background: #181616;
    /*border-bottom: 3px solid rgba(100, 114, 125, 0.5);*/
    color: #c5c9c5;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #c5c9c5;
}
*/

.modules-left {
    padding:7px;
    background: #181616;
}
.modules-center {
    padding:7px;
    background: #181616;
}
.modules-right {
    padding:7px;
    background: #181616;
}

window#waybar.termite {
    background-color: #282727;
}

window#waybar.chromium {
    background-color: #0d0c0c;
    border: none;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
    margin-right: 5;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    /*box-shadow: inset 0 -3px #c5c9c5;*/
}

/* you can set a style on hover for any module like this */
#pulseaudio:hover {
    background-color: #b6927b;
}

#workspaces button {
    padding: 8px 15px 8px 10px;
    background-color: transparent;
    color: #c5c9c5;
}

#workspaces button:hover {
    background-color: alpha(#282727, .8);
    border-radius: 100%; 
}

#workspaces button.active {
    background-color: #282727;
    border-radius: 100%; 
    /*box-shadow: inset 0 -3px #8992a7;*/
}

#workspaces button.focused {
    background-color: #282727;
    border-radius: 100%; 
    /*box-shadow: inset 0 -3px #8992a7;*/
}

#workspaces button.urgent {
    background-color: #c4746e;
}

#mode {
    background-color: #8992a7;
    box-shadow: inset 0 -3px #c5c9c5;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd {
    padding: 0 10px;
    color: #c5c9c5;
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    /*background-color: #8992a7;*/
}

#battery {
    /* background-color: #c5c9c5; */
    /* color: #0d0c0c; */
}

#battery.charging, #battery.plugged {
    color: #0d0c0c;
    background-color: #87a987;
}

@keyframes blink {
    to {
        background-color: #c5c9c5;
        color: #0d0c0c;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: #c4746e;
    color: #c5c9c5;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#power-profiles-daemon {
    padding-right: 15px;
}

#power-profiles-daemon.performance {
    background-color: #c4746e;
    color: #c5c9c5;
}

#power-profiles-daemon.balanced {
    background-color: #8ba4b0;
    color: #0d0c0c;
}

#power-profiles-daemon.power-saver {
    background-color: #87a987;
    color: #0d0c0c;
}

label:focus {
    background-color: #0d0c0c;
}

#cpu {
    /*background-color: #87a987;*/
    /*color: #0d0c0c;*/
}

#memory {
    /*background-color: #a292a3;*/
}

#disk {
    /*background-color: #b6927b;*/
}

#backlight {
    /*background-color: #8ea4a2;*/
}

#network {
    /*background-color: #8ba4b0;*/
}

#network.disconnected {
    /*background-color: #c4746e;*/
}

#pulseaudio {
    /*background-color: #c4b28a;*/
    /*color: #0d0c0c;*/
}

#pulseaudio.muted {
    /*background-color: #625e5a;*/
    /*color: #c5c9c5;*/
}

#wireplumber {
    /*background-color: #c4b28a;*/
    /*color: #0d0c0c;*/
}

#wireplumber.muted {
    /*background-color: #c4746e;*/
}

#custom-media {
    background-color: #8ea4a2;
    color: #0d0c0c;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #87a987;
}

#custom-media.custom-vlc {
    background-color: #b6927b;
}

#temperature {
    /*background-color: #b6927b;*/
}

#temperature.critical {
    background-color: #c4746e;
}

#tray {
    /*background-color: #8ba4b0;*/
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #c4746e;
}

#idle_inhibitor {
    /*background-color: #1D1C19;*/
}

#idle_inhibitor.activated {
    /*background-color: #c5c9c5;*/
    /*color: #1D1C19;*/
}

#mpd {
    background-color: #8ea4a2;
    color: #0d0c0c;
}

#mpd.disconnected {
    background-color: #c4746e;
}

#mpd.stopped {
    background-color: #625e5a;
}

#mpd.paused {
    background-color: #8a9a7b;
}

#language {
    /*background: #87a987;*/
    /*color: #8992a7;*/
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state {
    background: #87a987;
    color: #0d0c0c;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(13, 12, 12, 0.2);
}

#scratchpad {
    background: rgba(13, 12, 12, 0.2);
}

#scratchpad.empty {
	background-color: transparent;
}

#privacy {
    padding: 0;
}

#privacy-item {
    padding: 0 5px;
    color: #c5c9c5;
}

#privacy-item.screenshare {
    background-color: #b6927b;
}

#privacy-item.audio-in {
    background-color: #87a987;
}

#privacy-item.audio-out {
    background-color: #8ba4b0;
}